/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

.container16{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap:20px;
}

figure {
    margin: 2rem 0;
}

.todo{
    width:1368px;
    margin: 1rem auto;
}